
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define LOWER 1
#define RAISE 2

/ {
  behaviors {
    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_MODS";
      #binding-cells = <2>;
      tapping-term-ms = <250>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
  };
  keymap {
    compatible = "zmk,keymap";

    Base_layer {
      bindings = <
        &kp Q &kp W &kp F &kp P &kp B &kp J &kp L &kp U &kp Y &kp SINGLE_QUOTE &kp A &kp R &kp S &kp T &kp G &kp M &kp N &kp E &kp I &kp O &kp Z &kp X &kp C &kp D &kp V &kp K &kp H &kp COMMA &kp PERIOD &kp SLASH &to LOWER &kp SPACE &kp CAPSLOCK &kp RETURN &kp BACKSPACE &to RAISE 
      >;
    };

    Lower_layer {
      bindings = <
        &to BASE &none &kp UP &hm RGUI T &kp MINUS &kp AT_SIGN &kp NUMBER_7 &kp NUMBER_8 &kp NUMBER_9 &kp NUMBER_0 &none &kp LEFT &kp DOWN &kp RIGHT &hm RGUI K &kp QUESTION &kp NUMBER_4 &kp NUMBER_5 &kp NUMBER_6 &kp SINGLE_QUOTE &none &hm LGUI X &hm LGUI C &hm LGUI V &hm LGUI B &kp EXCLAMATION &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3 &kp DOUBLE_QUOTES &kp LEFT_GUI &kp F11 &kp F12 &kp F4 &kp F10 &kp RIGHT_ALT 
      >;
    };

    Raise_layer {
      bindings = <
        &kp EXCLAMATION &kp AT_SIGN &kp HASH &kp DOLLAR &kp PERCENT &kp CARET &kp AMPERSAND &kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp ASTERISK &trans &trans &kp COLON &kp SEMICOLON &trans &kp MINUS &kp EQUAL &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp BACKSLASH &trans &trans &trans &trans &to BASE &kp UNDERSCORE &kp PLUS &kp LEFT_BRACE &kp RIGHT_BRACE &kp PIPE &kp LEFT_GUI &trans &kp SPACE &kp RETURN &trans &kp RIGHT_ALT 
      >;
    };

  };
};
